body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background: #f3f3f3;
}

h1{
    text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  resize: none;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}